[submodule "MyGameEngine/vendor/spdlog"]
	path = MyGameEngine/vendor/spdlog
	url = git@github.com:gabime/spdlog
[submodule "MyGameEngine/vendor/glfw"]
	path = MyGameEngine/vendor/glfw
	url = git@github.com:zhulinspace/glfw.git
